<div *ngIf="contactData" class="details-container">
    <div class="info-box">
        <div class="header-name">
            <span class="contact-symbol" [ngStyle]="{'background': contactData.bgColor}">
                {{ contactData.firstName[0].toUpperCase() }}{{ contactData.lastName[0].toUpperCase() }}</span>
            <span>
                <span>{{ contactData.firstName }} {{ contactData.lastName }}</span>
                <button mat-button (click)="openDialogAddTask(contactData.fullName, contactData.bgColor)">
                    <mat-icon>add</mat-icon> Add task
                </button>
            </span>
        </div>

        <div class="contact-info-box">
            <div class="contact-info-header">
                <h2>Contact information</h2>
                <button mat-button matTooltip="Edit Contact" matTooltipPosition="below" matTooltipClass="tooltip-blue"
                    (click)="openDialogEditContact(contactData.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div class="contact-info">
                <div>
                    <span>
                        <h3>E-Mail:</h3>
                        <a href="mailto: {{ contactData.email }}" class="header-color">
                            <h3>{{ contactData.email }}</h3>
                        </a>
                    </span>
    
                    <span>
                        <h3 class="mt-24">Phone:</h3>
                        <a href="tel: {{ contactData.phone }}">
                            <h3>{{ contactData.phone }}</h3>
                        </a>
                    </span>
                </div>

                <div>
                    <h3>Tasks for {{ contactData.firstName }}:</h3>
                    <h3 *ngIf="taskLength >= 1" class="task-length task-length-hover" (click)="openDialogContactTasks(contactTasks, contactData.firstName)">{{ taskLength }}</h3>
                    <h3 *ngIf="taskLength == 0" class="task-length">{{ taskLength }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>