<div class="nav-bg">
    <nav class="nav-top">
        <div class="btn-box-top">
            <button mat-button *ngFor="let button of btnTop" [ngClass]="{'active-btn-top': button.isClicked}" 
            (click)="setActive(button)" routerLink="/{{ button.name }}">
            <mat-icon>{{ button.icon }}</mat-icon>
                {{ button.name[0].toUpperCase() }}{{ button.name.slice(1).toLowerCase() }}
            </button>
        </div>

        <button mat-icon-button class="help-btn" matTooltip="Help" matTooltipPosition="above" matTooltipClass="tooltip-blue" matTooltipClass="tooltip-blue">
            <mat-icon>question_mark</mat-icon>
        </button>
    </nav>

    <nav class="nav-left">
        <div class="logo-box">
            <h1>Join</h1>
        </div>

        <div class="btn-box-left">
            <button mat-icon-button matTooltip="Open Calendar" matTooltipPosition="right" matTooltipClass="tooltip-blue">
                <mat-icon>calendar_month</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Open Weather" matTooltipPosition="right" matTooltipClass="tooltip-blue">
                <mat-icon>sunny</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Add Task" matTooltipPosition="right" matTooltipClass="tooltip-blue" (click)="openDialogAddTask('To do')">
                <mat-icon>note_add</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Add Contact" matTooltipPosition="right" matTooltipClass="tooltip-blue">
                <mat-icon>person_add</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Open Archive" matTooltipPosition="right" matTooltipClass="tooltip-blue">
                <mat-icon>archive</mat-icon>
            </button>
        </div>

        <div class="account">
            <button mat-icon-button>
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </nav>
</div>