<div class="nav-bg">
    <nav class="nav-top">
        <div class="btn-box">
            <button mat-button class="active-btn">Summary</button>
            <button mat-button>Board</button>
            <button mat-button>Contact</button>
        </div>
    </nav>

    <nav class="nav-left">
        <div class="logo-box">
            <h1>Join</h1>
        </div>

        <div class="add-btn">
            <button mat-icon-button>
                <mat-icon>calendar_month</mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon>sunny</mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon>note_add</mat-icon>
            </button>

            <button mat-icon-button>
                <mat-icon>person_add</mat-icon>
            </button>
        </div>

        <div class="account">
            <button mat-icon-button>
                <mat-icon>account_circle</mat-icon>
            </button>
        </div>
    </nav>
</div>