.summary-container {
    height: calc(100vh - 56px - 5vh);
    width: 100vw;
    max-width: 100%;
    background: var(--bg);
}

.header {
    display: flex;
    align-items: center;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 16px;
        color: var(--header);
        font-size: 42px;
        width: 200px;
        border-right: 2px solid var(--header);
    }

    h3 {
        margin: 0;
        color: var(--header);
    }
}

.summary-body {
    display: flex;
    align-items: center;
    width: 80vw;
    margin-top: 10vh;
}

.summary-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 50vh;

    div {
        display: flex;
    }
}

.task-overview,
.done-cards {
    display: flex;
    justify-content: space-around;
    width: 40vw;

    mat-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.greeting {
    width: 40vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-size: 42px;

        &:first-child {
            color: var(--beige);
        }

        &:last-child {
            color: var(--header);
            font-weight: 600;
        }
    }
}