<mat-card class="container-style container-position">
    <div class="contact-container">
        <div class="contact-list-box">
            <div class="box-height">
                <div *ngFor="let contact of allContacts" class="contact-box">
                    <div *ngIf="checkLetter(contact.firstName)" class="letter-header">
                        <h2>{{ contact.firstName.charAt(0).toUpperCase() }}</h2>
                    </div>

                    <div class="info-box">
                        <div class="contact-symbol" [ngStyle]="{'background': contact.bgColor}">
                            {{ contact.firstName[0].toUpperCase() }}{{ contact.lastName[0].toUpperCase() }}</div>

                        <div class="contact-info">
                            <span>{{ contact.firstName }} {{ contact.lastName }}</span>
                            <span>{{ contact.email }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header">
            <div>
                <h1>Contact</h1>
                <h3>Better with a team</h3>
            </div>
        </div>
    </div>
</mat-card>