$fontFamily: 'Montserrat', sans-serif;
$fontSize: 16px;
$textColor: #6C7587;

$height: 54px;

$bgColor: #EBECF0;
$iconColor: #8992A5;

$accentBlue: #1657F0;
$brightBlue: #36D7E0;

$darkShadow: #484f60;
$lightShadow: #FFFFFF;

$dropShadow: 8px 8px 12px -2px rgba($darkShadow, 0.4),
    -6px -6px 12px -1px rgba($lightShadow, 1);

$innerShadow: inset -4px -4px 6px -1px rgba($lightShadow, 1),
    inset 2px 2px 8px -1px rgba($darkShadow, 0.5);

.mat-dialog-container {
    border-radius: 24px;
    background-color: $bgColor;
}

.add-task-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.close-btn {
    position: absolute;
    right: -16px;
    top: -20px;
    color: var(--header);
}

.task-h {
    h1 {
        margin-bottom: 16px;
        font-size: 24px;
        border-right: none;
        margin-top: 0;
        margin-left: 32px;
        color: var(--header);
        font-weight: 600;

    }
}

.task-box {
    display: flex;
    min-width: 65vw;
}

.left-box,
.right-box {
    display: flex;
    flex-direction: column;
    width: 30vw;
    padding-left: 2vw;
    padding-right: 2vw;

    // textarea {
    //     height: 70px;
    //     min-height: 70px;
    //     max-height: 250px;
    // }
}

.left-box {
    border-right: 1px solid rgb(0 0 0 / 14%);

    mat-icon {
        position: absolute;
        right: 0px;
        top: 6px;
        // color: red;
    }
}

.priotity-section {
    display: flex;
    flex-direction: column;

    label {
        color: rgb(0 0 0 / 61%);
    }

    mat-radio-group {
        display: flex;
        justify-content: space-evenly;
        // margin-top: 24px;
    }

    .mat-radio-button {
        display: flex;
        justify-content: center;

        span {
            display: flex;
            align-items: center;
            color: rgb(0 0 0 / 61%);
        }
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: var(--header);
    }

    .mat-radio-button.mat-accent .mat-radio-inner-circle,
    .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
    .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
        background-color: var(--header);
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: unset !important;
    }
}

.urgent-btn {
    color: #FF3D00;
}

.medium-btn {
    color: #FFA800;
}

.low-btn {
    color: #7AE229;
}

.mat-focused .mat-form-field-label {
    color: var(--header) !important;
}

.mat-form-field-underline {
    background-color: var(--header) !important;
}

.mat-form-field-ripple {
    background-color: var(--header) !important;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
    display: flex !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--header) !important;
}

// .mat-form-field-flex {
//     box-shadow: inset -4px -4px 6px -1px rgba(#FFFFFF, 1),
//     inset 2px 2px 8px -1px rgba(#484f60, 0.5);
//     border-radius: 10px;
// }

.button-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 32px;

    button {
        &:first-child {
            background: var(--bg-light);
            color: white;
            margin-right: 24px;

            &:hover {
                background: var(--bg-dark);
            }
        }

        &:last-child {
            background: var(--header);
            color: white;

            &:hover {
                background: var(--bg-dark);
            }
        }
    }
}


// Mixins
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin applyFontStyle() {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $fontSize;
    color: $textColor;
}

%shared-styles {
    @include applyFontStyle;
    padding: 0 8px;
    position: relative;
    border: 2px solid rgba($lightShadow, 0);
    outline: none;
    text-align: center;
    background-color: $bgColor;
    transition: all 250ms ease-in-out;

    &:hover {
        box-shadow: none;
        border-color: rgba(var(--header), 0.5);
    }
}

.input-shadow {
    @extend %shared-styles;
    box-shadow: $innerShadow;
    width: 28vw;
    padding: 10px;
    border-radius: 12px;

    &:focus {
        box-shadow: none;
        border-color: rgba(var(--header), 0.5);
    }

    &::placeholder {
        @include applyFontStyle;
        opacity: 1;
    }
}

.input-box {
    margin: 8px;

    textarea {
        height: 100px;
        min-height: 100px;
        max-height: 250px;
        width: 28vw;
        min-width: 28vw;
        max-width: 28vw;
    }
}