<div *ngIf="addTask" class="request-box">
    <h1>Task created!</h1>

    <div class="btn-box">
        <div routerLink="/board" (click)="dialog.closeAll()">Open Board</div>
        <div (click)="dialogRef.close()">Add new task</div>
    </div>
</div>

<div *ngIf="archivTask" class="request-box">
    <h1>Are you sure?</h1>

    <div class="btn-box">
        <div (click)="dialogRef.close()">Cancel</div>
        <div (click)="archivedTask()">Archived task</div>
    </div>
</div>

<div *ngIf="addContact" class="request-box">
    <h1>Contact created!</h1>

    <div class="btn-box">
        <div routerLink="/contact" (click)="dialog.closeAll()">Open List</div>
        <div (click)="dialogRef.close()">Add new contact</div>
    </div>
</div>

<div *ngIf="deleteContact" class="request-box">
    <h1>Are you sure?</h1>

    <div class="btn-box">
        <div (click)="dialogRef.close()">Cancel</div>
        <div (click)="deleteContactDoc()">Delete contact</div>
    </div>
</div>