/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background: var(--bg);
}

:root {
    --bg: #f9f6f3;
    --header: #5B4325;
  }