<div class="container-position container-style">
    <div class="calendar-header">
        <span>
            {{ displayMonth }} {{ displayYear }}
        </span>
        <span>
            <button mat-icon-button (click)="decreaseMonth()" matTooltip="Last" matTooltipPosition="below"
                matTooltipClass="tooltip-blue">
                <mat-icon>navigate_before</mat-icon>
            </button>

            <button mat-icon-button (click)="increaseMonth()" matTooltip="Next" matTooltipPosition="below"
                matTooltipClass="tooltip-blue">
                <mat-icon>navigate_next</mat-icon>
            </button>
        </span>
    </div>

    <table class='calendar-table' *ngIf="calendar">
        <thead>
            <tr>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th class="weekend">Sat</th>
                <th class="weekend">Sun</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let row of calendar | chunk: 7; let i = index">
                <td class="calendar-day" *ngFor="let c of row; let j = index"
                    [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday, 'weekend': (j==5 || j==6)}">
                    <div class="calendar-day-header">
                        {{ c.date.getDate() }}
                    </div>
                    <div *ngFor="let task of shared.allTasks">
                        <span (click)="openTaskDetails(task.id)"
                            [ngClass]="{'hideTask': c.date.getTime() != task.dueDate, 'showTask': c.date.getTime() === task.dueDate}">
                            {{ task.title }}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>